<div class="form-container mat-elevation-z4">
  <h1 i18n>Edit enterprise details</h1>

  <form class="form" [formGroup]="enterpriseFrom">

    <mat-form-field appearance="outline" class="inline-element">
      <mat-label>Firstname</mat-label>
      <input matInput placeholder="Enter your name" formControlName="name">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Enter your address" formControlName="address">
      <mat-icon matSuffix>place</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>TVA</mat-label>
      <input matInput placeholder="Enter your tva number" formControlName="tva">
      <mat-icon matSuffix>app_registration</mat-icon>
    </mat-form-field>

    <mat-card *ngIf="contacts.length > 0" class="form-field-margin-button">
      <mat-card-title color="primary">
        <span>Contacts list</span>
        <span style="float: right">
          <mat-icon (click)="addContactToEnterprise()" color="primary">add_circle</mat-icon>
        </span>
      </mat-card-title>

      <table width="100%">
        <tr>
          <th>Id</th>
          <th>Type</th>
          <th>Name</th>
          <th>Lastname</th>
          <th>Address</th>
          <th>Remove</th>
        </tr>
        <tr *ngFor="let contact of contacts" align="center">
          <td>{{contact.id}}</td>
          <td>{{contact.type}}</td>
          <td>{{contact.name}}</td>
          <td>{{contact.lastname}}</td>
          <td>{{contact.address}}</td>
          <td>
            <mat-icon color="warn" (click)="  deleteContactFromEnterprise(contact.id)">delete_forever</mat-icon>
          </td>
        </tr>
      </table>
    </mat-card>

    <button mat-raised-button [disabled]="!enterpriseFrom.valid" color="primary" type="button" (click)="updateEnterprise()" i18n>
      Save
    </button>

  </form>
</div>
