.toolbar {
  position: relative;
  .example-spacer {
    flex: 1 1 auto;
  }
  .spacer {
    width: 40px;
  }
  .toggle-button {
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
  }
}

.container {
  padding-top: 4em;
  padding-right: 4em;
  padding-left: 4em;
  height: 100%;
  background-color: ghostwhite;
}
