/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-button-toggle-checked {
  background: rgba(0,0,0,.2);
}

.mat-button-toggle-group {
  box-shadow: none;
}
