<div class="form-container mat-elevation-z4">
  <h1 i18n>Contact details</h1>

  <mat-list role="list" *ngIf="contact">
    <mat-list-item><strong>Type :</strong>{{contact.type}}</mat-list-item>
    <mat-list-item><strong i18n>Name :</strong>{{contact.name}}</mat-list-item>
    <mat-list-item><strong i18n>Lastname : </strong>{{contact.lastname}}</mat-list-item>
    <mat-list-item><strong i18n>Address :</strong>{{contact.address}}</mat-list-item>
    <mat-list-item *ngIf="contact.tva"><strong>tva : </strong>{{contact.tva}}</mat-list-item>
  </mat-list>

  <mat-card *ngIf="contact?.enterprises?.length > 0" class="form-field-margin-button">
    <mat-card-title color="primary">
      <span>Contacts list</span>
    </mat-card-title>

    <table width="100%">
      <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Name</th>
      </tr>
      <tr *ngFor="let enterprise of contact.enterprises" align="center">
        <td>{{enterprise.id}}</td>
        <td>{{enterprise.name}}</td>
        <td>{{enterprise.address}}</td>
      </tr>
    </table>
  </mat-card>

</div>
